<!DOCTYPE html>
<html lang="en" style="visibility: hidden;">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>段子王者踢馆赛</title>
    <script src="../../../res/js/rem.js"></script>
    <link rel="stylesheet" href="../../../res/css/common.css" />
    <link rel="stylesheet" href="../../../res/css/prompt.css" />
    <link rel="stylesheet" href="../../../res/css/swiper-4.2.2.min.css" />
    <link rel="stylesheet" href="./ranking.css" />
</head>

<body style="background: #0d0b17;">

    <div id="page" class="kick">
        <div class="top-btn fontsize24">
            <div class="btn" :class="{'active':isMe}" @click="isMe=true">我的踢馆赛况</div>
            <div class="btn" :class="{'active':!isMe}" @click="isMe=false">全平台踢馆赛况</div>
        </div>
        <div class="tab-div" v-show="isMe">
            <div class="kick-banner">
                <div class="count-down-box">
                    <p class="count-down fontsize22">倒计时11:59:59</p>
                </div>
            </div>
            <div class="kick-box">
                <h6 class="fontsize32"><i>·</i><span class="fontsize24">我的守馆作品</span><i>·</i></h6>
                <ul class="kick-ul">
                    <li v-for="(item, index) in 1" :key="index">
                        <div class="ul-img">
                            <img src="./imgs/img-card1.png" alt="">
                            <i class="audo"></i>
                            <i class="result win"></i>
                            <div class="wd-box">
                                <p class="wd-p1 fontsize26">春风十里不如你</p>
                                <p class="wd-p2 fontsize22"><span><i
                                            class="tx"></i>xiao幸运</span><span>10000<i></i></span>
                                </p>
                            </div>
                        </div>
                        <div class="ul-wd">
                            <i class="rank-num">本周周榜TOP1</i>
                            <p class="kick-p1"><a class="fontsize20" href="">我的守馆作品</a></p>
                            <!-- <p class="kick-p2 fontsize24">踢馆赛期间鼓励值</p>
                            <p class="kick-p3">1000</p> -->
                            <img class="well-begin" src="./imgs/img-12d.png" alt="">
                        </div>
                    </li>
                    <li v-for="(item, index) in 1" :key="index">
                        <div class="ul-img">
                            <img src="./imgs/img-card1.png" alt="">
                            <i class="audo"></i>
                            <i class="result win"></i>
                            <div class="wd-box">
                                <p class="wd-p1 fontsize26">春风十里不如你</p>
                                <p class="wd-p2 fontsize22"><span><i
                                            class="tx"></i>xiao幸运</span><span>10000<i></i></span>
                                </p>
                            </div>
                        </div>
                        <div class="ul-wd">
                            <i class="rank-num">本周周榜TOP1</i>
                            <p class="kick-p1"><a class="fontsize20" href="">我的守馆作品</a></p>
                            <!-- <p class="kick-p2 fontsize24">踢馆赛期间鼓励值</p>
                                <p class="kick-p3">1000</p> -->
                            <img class="well-tg" src="./imgs/icon-tg.png" alt="">
                            <img class="well-tempt" src="./imgs/icon-tempt.png" alt="">
                        </div>
                    </li>
                </ul>
            </div>
            <div class="kick-box">
                <h6 class="fontsize32"><i>·</i><span class="fontsize24">一起踢我的作品</span><i>·</i></h6>
                <div class="no-kick">
                    <div>
                        <img src="./imgs/img-nullStatus.png" alt="">
                        <p class="fontsize20">您的名号威震武林<br>无人敢找你踢馆</p>
                    </div>
                </div>
                <ul class="kick-ul">
                    <li v-for="(item, index) in 2" :key="index">
                        <div class="ul-img">
                            <img src="./imgs/img-card1.png" alt="">
                            <i class="audo"></i>
                            <div class="wd-box">
                                <p class="wd-p1 fontsize26">春风十里不如你</p>
                                <p class="wd-p2 fontsize22"><span><i
                                            class="tx"></i>xiao幸运</span><span>10000<i></i></span>
                                </p>
                            </div>
                        </div>
                        <div class="ul-wd">
                            <p class="kick-p1"><a class="fontsize20" href="">TA的踢馆作品</a></p>
                            <p class="kick-p2 fontsize24">踢馆赛期间鼓励值</p>
                            <p class="kick-p3">1000</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-div" v-show="!isMe">
            <div class="not-begin" v-show="false">
                <div>
                    <img src="./imgs/img-nullStatus.png" alt="">
                    <p class="fontsize20">12:00<br>踢馆赛正式开赛<br>敬请期待！</p>
                </div>
            </div>

            <div class="kick-box">
                <h6 class="fontsize32"><i>·</i><span class="fontsize24">100人正在参与</span><i>·</i></h6>
                <ul class="vs-ul">
                    <li v-for="(item, index) in 2" :key="index">
                        <i class="icon-vs"></i>
                        <i class="icon-top"></i>
                        <div class="vs-sg-box">
                            <p class="gl-tip fontsize18">踢馆作品</p>
                            <div class="ul-img">
                                <img src="./imgs/img-card1.png" alt="">
                                <i class="audo"></i>
                                <div class="wd-box">
                                    <p class="wd-p1 fontsize26">春风十里不如你</p>
                                    <p class="wd-p2 fontsize22"><span><i
                                                class="tx"></i>xiao幸运</span><span>10000<i></i></span>
                                    </p>
                                </div>
                            </div>
                            <p class="gl-tip fontsize18">踢馆赛期间鼓励值</p>
                            <p class="glz fontsize24"><span>100</span></p>
                        </div>
                        <div class="vs-sg-box">
                            <p class="gl-tip fontsize18">踢馆作品</p>
                            <div class="ul-img">
                                <img src="./imgs/img-card1.png" alt="">
                                <i class="audo"></i>
                                <div class="wd-box">
                                    <p class="wd-p1 fontsize26">春风十里不如你</p>
                                    <p class="wd-p2 fontsize22"><span><i
                                                class="tx"></i>xiao幸运</span><span>10000<i></i></span>
                                    </p>
                                </div>
                            </div>
                            <p class="gl-tip fontsize18">踢馆赛期间鼓励值</p>
                            <p class="glz fontsize24"><span>100</span></p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="my-rank" v-show="isMe" @click="showModal('#propExp')">
            <div class="head fontsize24"><i></i>我的踢馆排名</div>
            <div class="rank fontsize28">99+</div>
        </div>
        <div class="modal" id="cklose">
            <div class="modal-kick-box relative">
                <div class="kick-prop">
                    <h3 class="fontsize32">踢馆赛</h3>
                    <p class="fontsize24 p">很遗憾<br>您未能守馆成功，下次要更努力哦~</p>
                    <img class="status" src="./imgs/icon-comeon.png" alt="" style="width: 9.1rem;margin-top: 1.6rem;">
                    <img class="status" src="./imgs/icon-iknow.png" alt="" style="width: 7.967rem;margin-top: 1.967rem;"
                        onclick="closeModal('#cklose')">
                </div>
            </div>
        </div>
        <div class="modal" id="cklose2">
            <div class="modal-kick-box relative">
                <div class="kick-prop">
                    <h3 class="fontsize32">踢馆赛</h3>
                    <p class="fontsize24 p">很遗憾<br>您未能踢馆成功，下周再来试试吧！</p>
                    <img class="status" src="./imgs/icon-comeon.png" alt="" style="width: 9.1rem;margin-top: 1.6rem;">
                    <img class="status" src="./imgs/icon-iknow.png" alt="" style="width: 7.967rem;margin-top: 1.967rem;"
                        onclick="closeModal('#cklose2')">
                </div>
            </div>
        </div>
        <div class="modal" id="ckwin">
            <div class="modal-kick-box relative">
                <div class="kick-prop">
                    <h3 class="fontsize32">踢馆赛</h3>
                    <p class="fontsize24 p">恭喜您，守馆成功！<br>获得“踢馆冲刺卡”一张</p>
                    <img class="status" src="./imgs/icon-kickCrad.png" alt=""
                        style="width: 6.567rem;margin-top: 0.8rem;">
                    <img class="status" src="./imgs/icon-iknow.png" alt="" style="width: 7.967rem;margin-top: 1.1rem;"
                        onclick="closeModal('#ckwin')">
                </div>
            </div>
        </div>
        <div class="modal" id="ckwin2">
            <div class="modal-kick-box relative">
                <div class="kick-prop">
                    <h3 class="fontsize32">踢馆赛2</h3>
                    <p class="fontsize24 p">恭喜您，守馆成功！<br>获得“踢馆冲刺卡”一张</p>
                    <div class="relative">
                        <img class="status" src="./imgs/icon-kickCrad.png" alt=""
                            style="width: 6.567rem;margin-top: 0.8rem;">
                        <p class="fontsize18"
                            style="width: 6.567rem;position:absolute;bottom: 0.8rem;left: 0;right: 0;margin: auto;letter-spacing: 0;color: #FFD754;opacity: 0.4;;line-height: 0.667rem;">
                            2020-03-01对<br>[用户昵称]踢馆成功</p>
                    </div>
                    <img class="status" src="./imgs/icon-iknow.png" alt="" style="width: 7.967rem;margin-top: 1.1rem;"
                        onclick="closeModal('#ckwin2')">
                </div>
            </div>
        </div>
        <div class="modal" id="ckwin3">
            <div class="modal-kick-box relative">
                <div class="kick-prop">
                    <h3 class="fontsize32">踢馆赛2</h3>
                    <p class="fontsize24 p">恭喜您<br>在踢馆赛中超过踢馆目标用户<br>获得5个鼓励值！</p>
                    <div class="relative">
                        <div class="zan">
                            <div>
                                <i></i>
                                <p class="fontsize30">+5</p>
                            </div>
                        </div>
                    </div>
                    <img class="status" src="./imgs/icon-iknow.png" alt="" style="width: 7.967rem;margin-top: 1.1rem;"
                        onclick="closeModal('#ckwin3')">
                </div>
            </div>
        </div>
        <div class="modal" id="cknull">
            <div class="modal-kick-box relative">
                <div class="kick-prop">
                    <h3 class="fontsize32">踢馆赛</h3>
                    <p class="fontsize24 p">威名太盛，无人敢找你踢馆~</p>
                    <img class="status" src="./imgs/icon-comeon.png" alt="" style="width: 9.1rem;margin-top: 2.167rem;">
                    <img class="status" src="./imgs/icon-iknow.png" alt="" style="width: 7.967rem;margin-top: 2.667rem;"
                        onclick="closeModal('#cknull')">
                </div>
            </div>
        </div>
        <div class="modal" id="ckhaswork">
            <div class="modal-kick-box-lg relative">
                <div class="kick-prop">
                    <h3 class="fontsize32">选择作品</h3>
                    <p class="fontsize24 p">请在下方选择您要参赛的作品</p>
                    <div class="ul-img">
                        <img src="./imgs/img-card1.png" alt="">
                        <i class="audo"></i>
                        <div class="wd-box">
                            <p class="wd-p1 fontsize26">春风十里不如你</p>
                            <p class="wd-p2 fontsize22"><span><i class="tx"></i>xiao幸运</span><span>10000<i></i></span>
                            </p>
                        </div>
                    </div>
                    <p class="fontsize24 p2">去创作新作品</p>
                    <div class="flex">
                        <span style="background-image:url('./imgs/btn-giveup.png')"
                            onclick="closeModal('#ckhaswork')"></span>
                        <span style="background-image:url('./imgs/btn-create.png')"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="cknowork">
            <div class="modal-kick-box-sm relative">
                <div class="kick-prop">
                    <h3 class="fontsize32">选择作品</h3>
                    <p class="fontsize24 p" style="margin-top: 2.5rem;">您还未参与本周的赛题创作，<br>不能参与踢馆哦~</p>
                    <div class="flex" style="margin-top: 2.2rem;">
                        <span style="background-image:url('./imgs/btn-giveup.png')"
                            onclick="closeModal('#cknowork')"></span>
                        <span style="background-image:url('./imgs/btn-create.png')"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="propExp">
            <div class="modal-content-exp relative">
                <img src="./imgs/icon-close.png" class="icon-close" onclick="closeModal('#propExp')" alt="">
                <img src="./imgs/icon-title-kick.png" class="md-title" alt="">
                <div class="md-div">
                    <ol class="fontsize22" style="letter-spacing: 0;">
                        <li>每周六00:00至12:00，开放“我要踢馆”功能；</li>
                        <li>用户可选择周榜前十名的用户进行踢馆，前十名的用户不能对他人踢馆，但是也需要努力守馆哦~；</li>
                        <li>踢馆赛自周六12:00正式开始，周日24:00结算，根据踢馆时间内的鼓励值获得情况评定结果；</li>
                        <li>被踢馆的用户默认使用入选周榜的作品参赛，踢馆的选手在本周赛题作品中选取一个参赛；</li>
                        <li>踢馆正式开始后，作品获得的鼓励值、好友应援的鼓励值、还有玩测一测中的幸运转盘抽取的鼓励值都能帮你 增加踢馆的鼓励值哦~；</li>
                        <li>踢馆时间内，鼓励值超过被踢馆用户，且在众多踢馆选手中排名第一的用户踢馆胜出，获得“踢馆冲刺卡”一张，其他超过被踢馆用户，但是没拿到第一的用户可以获得5个鼓励值；</li>
                        <li>踢馆时间内，没有选手鼓励值未超过被踢馆用户，那么被踢馆用户守馆成功，获得“踢馆冲刺卡”一张，若被任何一位选手超过，则守馆失败。</li>
                    </ol>
                </div>
            </div>
        </div>

    </div>

    <!-- <script src="../../../res/js/rem.js"></script> -->
    <script src="../../../config/config.js"></script>
    <script src="../../../res/js/jquery-2.1.4.min.js"></script>
    <script src="../../../res/js/vue.min.js"></script>
    <script src="../../../res/js/base64.js"></script>
    <script src="../../../res/js/common.js"></script>
    <script src="kicking.js"></script>
</body>

</html>