/* page样式 */
img {
    width: 100%;
}

.fontsize16 {
    font-size: 0.533rem;
}

.fontsize18 {
    font-size: 0.6rem;
}

.fontsize22 {
    font-size: 0.733rem;
}

.relative {
    left: 0;
    right: 0;
}

html.over {
    height: 100%;
    overflow: hidden;
    position: absolute;
}

.position1 {
    position: absolute;
    width: 1.7rem;
    right: 0;
    bottom: 5.6rem;
    z-index: 10;
}

.p1-txt {
    position: absolute;
    padding: 0 2rem;
    width: 100%;
    box-sizing: border-box;
    top: 30rem;
    left: 0;
    text-align: justify;
    /* padding-top: 2.367rem; */
    background: url('./imgs/icon-arrow.png') no-repeat center top/1.3rem;
    line-height: 0.8rem;
}

.p1-txt p {
    color: #FFFFFF;
    opacity: 0.5;
}

.p1-txt p i {
    color: #FFD86B;
    font-style: normal;
}

.p1-txt p span {
    color: #93949B;
}

.position2 {
    position: absolute;
    width: 23.667rem;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 20;
}

.p1-txt .btn-arrow,
.position2 .btn-arrow {
    padding-top: 2.367rem;
    background: url('./imgs/icon-arrow-up.png') no-repeat center top/1.3rem;
}

.position2 .p2-ul {
    position: absolute;
    bottom: 0.8rem;
    left: 0;
    width: 100%;
    display: flex;
}

.position2 .p2-ul li {
    flex: 1;
    overflow: hidden;
    color: #FFD86B;
    text-align: center;
}

/* 以下是tab标题 */
.i-title {
    padding: 0 0.967rem 0 0.8rem;
    display: flex;
    justify-content: space-between;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

.i-title .btn-title {
    flex: 1;
    height: 2.433rem;
    background-size: 100% 100%;
}

.i-title .btn-title+.btn-title {
    margin-left: 0.833rem;
}

.i-title .tt1 {
    background-image: url('./imgs/icon-ph.png');
}

.i-title .tt1.active {
    background-image: url('./imgs/icon-ph-active.png');
}

.i-title .tt2 {
    background-image: url('./imgs/icon-cs.png');
}

.i-title .tt2.active {
    background-image: url('./imgs/icon-cs-active.png');
}

/* 以下是排行榜 */
.tab-ph {}

.qs-for-week .m-work {
    position: absolute;
    width: 4.833rem;
    right: 0.433rem;
    top: 0.9rem;
}

.qs-for-week .qs-box {
    position: absolute;
    top: 4rem;
    width: 100%;
    box-sizing: border-box;
    padding: 0 2rem;
    z-index: 10;
    color: #565C7A;
    text-align: center;
}

.qs-for-week .qs-box h3 {
    font-family: HYZhuZiKaKuTi;
    color: #C6C6C6;
}

.qs-for-week .qs-box p {
    color: #565C7A;
    margin-top: 0.6rem;
}

.qs-for-week .qs-box a {
    color: #FFD86B;
}

.qs-for-week .qs-box a i {
    font-style: normal;
}


.qs-for-week .qs-box .swiper-father {
    position: relative;
}

.qs-for-week .qs-box .swiper-container {
    height: 4rem;
    margin-top: 1.2rem;
    width: 80%;
}

.qs-for-week .qs-box .swiper-button-prev {
    background: url('./imgs/icon-left.png') no-repeat center left/1.5rem;
    outline: none;
    left: 0;
}

.qs-for-week .qs-box .swiper-button-next {
    background: url('./imgs/icon-right.png') no-repeat center right/1.5rem;
    outline: none;
    right: 0;
}

.qs-for-week .qs-box .btn-handin {
    width: 13.1rem;
    height: 2.967rem;
    margin: auto;
    margin-top: 1.6rem;
    margin-bottom: 0.8rem;
    background: url('./imgs/icon-handin.png') center/100% 100%;
}

.qs-for-week .qs-btn {
    position: absolute;
    bottom: 0.45rem;
    left: 0;
    right: 0;
    margin: auto;
    font-family: PingFang SC;
    font-weight: 400;
    background: none;
    text-align: center;
    line-height: 1.6rem;
    width: 50%;
}

.m-ribbon {
    width: 23.5rem;
    margin: auto;
    margin-top: 0.8rem;
}

.m-ribbon .lightning {
    width: 5.233rem;
    position: absolute;
    top: -1.5rem;
    right: -0.75rem;
}

.m-ribbon .k-num {
    width: 1.6rem;
    position: absolute;
    top: 6rem;
    right: 1rem;
}

.m-ribbon .rb-box {
    width: 22.567rem;
    height: 7.533rem;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    box-sizing: border-box;
    padding-left: 6.3rem;
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
}

.m-ribbon .rb-box.rb1 {
    top: 11.6rem;
    background: url('./imgs/bg-level1.png') no-repeat center/100% 100%;
}

.m-ribbon .rb-box.rb2 {
    top: 21.4rem;
    background: url('./imgs/bg-level2.png') no-repeat center/100% 100%;
}

.m-ribbon .rb-box.rb3 {
    top: 31.2rem;
    background: url('./imgs/bg-level3.png') no-repeat center/100% 100%;
    padding-top: 2.6rem;
}

.m-ribbon .rb-line-box {
    width: 14.167rem;
    height: 1.6rem;
    border-radius: 1rem;
    overflow: hidden;
}

.m-ribbon .rb-line-box .rb-line {
    height: 100%;
    border-radius: 1rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.6rem;
}

.m-ribbon .rb-line-box.blue {
    background: #72b0ff;
}

.m-ribbon .rb-line-box.blue .rb-line {
    background-color: #88c9fa;
}

.m-ribbon .rb-line-box.yellow {
    background: #ffea74;
}

.m-ribbon .rb-line-box.yellow .rb-line {
    background-color: #f9dd42;
}

.m-ribbon .rb-line-box.pink {
    background: #fec9e8;
}

.m-ribbon .rb-line-box.pink .rb-line {
    background-color: #f592cc;
}

.m-ribbon .num {
    width: 1.6rem;
    height: 0.9rem;
    margin-right: 0.2rem;
    margin-top: 0.35rem;
}

.m-ribbon .rb-box.rb1 p {
    color: #6CB1FD;
    position: absolute;
    bottom: 0.9rem;
    left: 6.3rem;
}

.m-ribbon .rb-box.rb2 p {
    color: #FFE376;
    position: absolute;
    bottom: 0.9rem;
    left: 6.3rem;
}

.m-ribbon .rb-box.rb3 p {
    color: #FDC9E5;
    position: absolute;
    bottom: 0.65rem;
    left: 12.6rem;
}

.m-ribbon .rb-href {
    bottom: 0;
    height: 2.4rem;
    width: 100%;
    padding-left: 2.5rem;
    padding-right: 1rem;
    position: absolute;
}

.m-ribbon .rb-href a {
    color: #F2D170;
    line-height: 2.4rem;
}

.m-prop-test {
    margin-top: 0.8rem;
}

.m-prop {
    position: absolute;
    top: 6.3rem;
    box-sizing: border-box;
    width: 100%;
    padding: 0 2.2rem 0 2.267rem;
}

.m-prop .exp {
    position: absolute;
    top: -1.6rem;
    right: 1.9rem;
    width: 1.133rem;
    height: 1.133rem;
    background: url('./imgs/icon-explain.png') no-repeat center/100% 100%;
}

.m-prop .m-tips {
    position: absolute;
    top: 1.667rem;
    right: 0;
    width: 1.7rem;
    height: 6.6rem;
    background: url('./imgs/icon-tips-lr.png') no-repeat center/100% 100%;
}

.m-prop .mp-scroll-box {
    height: 11.433rem;
    width: 100%;
    overflow: hidden;
}

.m-prop .no-content {
    text-align: center;
    line-height: 0.867rem;
}

.m-prop .no-content .nc-p1 {
    color: #F2D170;
}

.m-prop .no-content .nc-p2 {
    color: #565C7A;
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
}

.m-prop .mp-ul {
    display: block;
    width: 100%;
    height: 110%;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    vertical-align: top;
    /* word-spacing: -1rem; */
    word-spacing: -0.3rem;
}

.m-prop .mp-ul li {
    width: 6.533rem;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.m-prop .mp-ul li+li {
    margin-left: 0.467rem;
}

.m-prop .mp-ul li p {
    line-height: 0.567rem;
    color: #565C7A;
    white-space: normal;
    text-align: center;
    margin-top: 0.433rem;
}

.m-prop .mp-ul li i {
    display: block;
    position: absolute;
    width: 3.367rem;
    height: 1.3rem;
    background: url('./imgs/icon-point.png') no-repeat center/100% 100%;
    margin: auto;
    left: 0;
    right: 0;
    top: 7.1rem;
}

.m-prop .mp-ul li a {
    display: block;
    position: absolute;
    color: rgba(255, 216, 107, 0.5);
    margin: auto;
    text-align: center;
    left: 0;
    right: 0;
    top: 7.1rem;
}

.m-prop .mp-btn {
    width: 13.1rem;
    height: 2.967rem;
    background: url('./imgs/icon-invite.png') no-repeat center/100% 100%;
    margin: auto;
}

.m-prop .mp-p {
    color: #565C7A;
    text-align: center;
    margin-top: 0.6rem;
}

.m-prop .mp-a {
    text-align: center;
    margin-top: 0.533rem;
}

.m-prop .mp-a a {
    color: #FFD86B;
}

.modal-content-exp {
    width: 23.5rem;
    background: rgba(25, 28, 39, 1);
    border: 1px solid rgba(255, 216, 107, 0.5);
    border-radius: 1rem;
    padding: 1.3rem 0 1.3rem 0;
}

.modal-content-exp .icon-close {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 0.6rem;
    right: 0.6rem;
}

.modal-content-exp .md-title {
    width: 7.5rem;
    display: block;
    margin: auto;
}

.modal-content-exp .md-div {
    background: rgba(57, 61, 80, 1);
    border: 1px solid rgba(255, 216, 107, 0.5);
    border-radius: 1rem;
    width: 21.357rem;
    margin: auto;
    margin-top: 1.333rem;
    box-sizing: border-box;
    padding: 1.4rem 0.7rem 1.4rem 1.6rem;
}

.modal-content-exp .md-div ol {
    padding-left: 0.8rem;
    letter-spacing: 0.15rem;
}

.modal-content-exp .md-div ol li {
    line-height: 1.5rem;
    color: #FFD86B;
}

.modal-content-exp .md-p {
    color: #565C7A;
    text-align: center;
    margin-top: 1.2rem;
}

.modal-content-rib .light-box {
    width: 19rem;
    height: 19rem;
    margin: auto;
    text-align: center;
}

.modal-content-rib .light-box h6 {
    color: #FFFFFF;
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 0.5rem;
    padding-top: 2.6rem;
}

.modal-content-rib .light-box p {
    color: #FFFFFF;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    padding-top: 0.8rem;
}

.modal-content-rib .light-box .rb {
    width: 10.8rem;
    display: block;
    margin: auto;
    margin-top: 2.1rem;
}

.Rotation {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-transform: rotate(360deg);
    animation: rotation 8s linear infinite;
    -moz-animation: rotation 8s linear infinite;
    -webkit-animation: rotation 8s linear infinite;
    -o-animation: rotation 8s linear infinite;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

.modal-content-rib .md-btn {
    width: 9.733rem;
    display: block;
    margin: auto;
    margin-top: -0.5rem;
}


/* 应援列表页样式 */
html,
body {
    min-height: 100%;
    overflow-x: hidden;
}

.sup-list .tips {
    color: #565C7A;
    padding: 0.6rem 0;
    text-align: center;
}

.sup-ul {
    width: 23.5rem;
    margin: auto;
}

.sup-ul li {
    display: flex;
    align-items: center;
    margin-bottom: 0.667rem;
    background: rgba(57, 61, 80, 1);
    border-radius: 0.667rem;
    height: 5.333rem;
    padding: 0 0.8rem;
}

.sup-ul li .bg-icon {
    width: 4.7rem;
    height: 3.7rem;
    border-radius: 0.5rem;
    background: rgba(25, 28, 39, 1) url('./imgs/icon-call.png') no-repeat center/1.6rem;
}

.sup-ul li .rib-icon {
    width: 4.7rem;
    height: 3.7rem;
    border-radius: 0.5rem;
    background: rgba(25, 28, 39, 1) url('./imgs/icon-rib.png') no-repeat center/3.367rem;
}

.sup-ul li .wd-icon {
    flex: 1;
    overflow: hidden;
    margin-left: 0.8rem;
}

.sup-ul li .wd-icon .wd-p1 {
    color: #92949B;
    line-height: 1.2rem;
}

.sup-ul li .wd-icon .wd-p2 {
    color: #92949B;
    line-height: 1.2rem;
    margin-top: 0rem;
}

.sup-ul li .wd-icon .wd-p3 {
    color: #565C7A;
    line-height: 1rem;
    margin-top: 0.3rem;
}

/* 往期赛题样式 */
.sub-list {
    padding-left: 0.76rem;
    overflow: hidden;
    padding-top: 1.3rem;
}

.sub-week {
    margin-bottom: 1rem;
}

.sub-week .date {
    width: 9.6rem;
    height: 1.667rem;
    line-height: 1.667rem;
    background: rgba(57, 61, 80, 1);
    border-radius: 0px 25px 25px 0px;
    margin-left: -0.76rem;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 0.1rem;
    margin-bottom: 0.8rem;
}

.sub-week .m-work {
    position: absolute;
    width: 4.833rem;
    right: 0.433rem;
    top: 0.9rem;
}

.sub-week .qs-box {
    position: absolute;
    top: 4.5rem;
    width: 100%;
    box-sizing: border-box;
    padding: 0 2rem;
    z-index: 10;
    color: #565C7A;
    text-align: center;
}

.sub-week .qs-box h3 {
    font-family: HYZhuZiKaKuTi;
    color: #C6C6C6;
}

.sub-week .qs-box p {
    color: #565C7A;
    margin-top: 0.6rem;
}

.sub-week .qs-box span {
    color: #FFD86B;
}

.sub-week .qs-box span i {
    font-style: normal;
}


.sub-week .qs-box .swiper-father {
    position: relative;
}

.sub-week .qs-box .swiper-container {
    height: 4rem;
    margin-top: 1.2rem;
    width: 80%;
}

.sub-week .qs-box .swiper-button-prev {
    background: url('./imgs/icon-left.png') no-repeat center left/1.5rem;
    outline: none;
    left: 0;
}

.sub-week .qs-box .swiper-button-next {
    background: url('./imgs/icon-right.png') no-repeat center right/1.5rem;
    outline: none;
    right: 0;
}

.sub-week .qs-box .btn-handin {
    width: 13.1rem;
    height: 2.967rem;
    margin: auto;
    margin-top: 1.6rem;
    margin-bottom: 0.8rem;
    background: url('./imgs/icon-handin.png') center/100% 100%;
}

.sub-week .qs-btn {
    position: absolute;
    bottom: 0.45rem;
    left: 0;
    right: 0;
    margin: auto;
    font-family: PingFang SC;
    font-weight: 400;
    background: none;
    text-align: center;
    line-height: 1.6rem;
    width: 50%;
}

/* 我的参赛作品 */
.work-list {
    padding: 0.667rem 0.75rem;
}

.work-top {
    display: flex;
}

.work-top .work-div {
    flex: 1;
    height: 8.067rem;
    background: rgba(25, 28, 39, 1);
    border-radius: 0.667rem;
    color: #92949B;
    line-break: 0.7rem;
    text-align: center;
}

.work-top .work-div .null-p1 {
    padding-top: 1.4rem;
}

.work-top .work-div .null-p2 {
    padding-top: 0.7rem;
}

.work-top .work-div .btn {
    display: block;
    width: 6.2rem;
    height: 2.033rem;
    margin: auto;
    margin-top: 1.2rem;
    background: url('./imgs/icon-handin-work.png') no-repeat center/100% 100%;
}

.work-top .work-div .has-p1 {
    padding-top: 0.833rem;
}

.work-top .work-div .has-p2 {
    padding-top: 0.633rem;
}

.work-top .work-div .has-div1 {
    color: #FFD86B;
    margin-top: 0.9rem;
}

.work-top .work-div .has-div2 {
    color: #FFD86B;
    margin-top: 0.8rem;
}

.work-top .work-div .has-div2 i {
    display: inline-block;
    width: 1.067rem;
    height: 1.067rem;
    background: #FFFFFF;
    position: relative;
    top: 0.15rem;
    margin-right: 0.4rem;
}

.work-list .tips {
    color: #565C7A;
    padding: 0.6rem 0;
    text-align: center;
}

.work-ul {
    color: #fff;
    list-style: none;
    position: relative;
}

.work-ul li {
    background: #fff;
    width: 11.467rem;
    position: absolute;
    border-radius: 0.7rem;
    overflow: hidden;
}

.work-ul li .img-box {
    position: relative;
}

.work-ul li .img-box img {
    display: block;
    background: #000;
}

.work-ul li .img-box i {
    display: block;
    width: 1.6rem;
    height: 1.6rem;
    background: url('./imgs/icon-audio.png') no-repeat center/cover;
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
}

.work-ul li .img-box p {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    padding: 0.3rem 0.6rem;
}

.work-ul li .wd-box {
    padding: 0.6rem 0.667rem;
}

.work-ul li .wd-box .wd-p1 {
    color: #333;
    line-height: 1rem;
}

.work-ul li .wd-box .wd-p2 {
    color: #999;
    margin-top: 0.7rem;
}

.work-ul li .wd-box .wd-p2 i {
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    background: #EA757E;
    position: relative;
    top: 0.1rem;
    margin-right: 0.333rem;
}