<!DOCTYPE html>
<html lang="en" style="visibility: hidden;">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>往周赛题</title>
    <script src="../../../res/js/rem.js"></script>
    <link rel="stylesheet" href="../../../res/css/common.css" />
    <link rel="stylesheet" href="../../../res/css/prompt.css" />
    <link rel="stylesheet" href="../../../res/css/swiper-4.2.2.min.css" />
    <link rel="stylesheet" href="./main.css" />
    <!-- <link rel="stylesheet" href="//at.alicdn.com/t/font_850244_bpz8dltblc.css" data-concat="false" /> -->
</head>

<body style="background: #0d0b17;">

    <div id="page" class="sub-list">
        <div class="sub-week relative" v-for="(item, index) in list" :key="index">
            <p class="date fontsize24">2020年4/20-4/26</p>
            <img src="./imgs/bg-sub.png" alt="">
            <div class="qs-box">
                <h3 class="fontsize36">
                    {{item.question_list.length>0?(item.question_list[aindex['realIndex_'+index]].title||''):''}}</h3>
                <p class="fontsize24">将下列表情组装成一个小故事</p>
                <div class="swiper-father">
                    <div class="swiper-container" :id="'weeksQs'+index">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" v-for="(item2, index2) in item.question_list" :key="index"><img
                                    :src="item.img_url" alt="">{{index2}}</div>
                        </div>
                    </div>
                    <div class="swiper-button-prev" :class="'swiper-button-prev'+index"></div>
                    <div class="swiper-button-next" :class="'swiper-button-next'+index"></div>
                </div>
                <div class="btn-handin"></div>
                <span class="fontsize24">热门作品合集 <i class="fontsize18">》</i></span>
            </div>
        </div>
    </div>

    <!-- <script src="../../../res/js/rem.js"></script> -->
    <script src="../../../config/config.js"></script>
    <script src="../../../res/js/jquery-2.1.4.min.js"></script>
    <script src="../../../res/js/swiper-4.2.2.min.js"></script>
    <script src="../../../res/js/vue.min.js"></script>
    <script src="../../../res/js/base64.js"></script>
    <script src="../../../res/js/common.js"></script>
    <script src="subject.js"></script>
</body>

</html>